spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/course
    driver-class-name: org.postgresql.Driver
    username:
    password:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false
